<!-- {% load static %} -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <!-- <link rel="stylesheet" href="{% static 'styles/admin.css' %}"> -->
</head>
<body>
    <button onclick="carregarUsuarios()">Atualizar listas</button>
    <h2>Alunos</h1>
    {% if alunos %}
        {% if alunos|length > 0 %}
            <ul id="lista-alunos">
                {% for aluno in alunos %}
                    <li id="{{ aluno.cpf }}"> 
                        <div class="aceitar-atestado">
                            {{ aluno.nome }}
                            {% if not aluno.validado_em %}
                                {% with aluno_cpf=aluno.cpf %}
                                    <button onclick="aceitarAtestado('{{ aluno_cpf }}')" type="button">Aceitar atestado</button>
                                {% endwith %}
                            {% endif %}
                        </div>
                        <ul>
                            <li>CPF: {{ aluno.cpf }}</li>
                            <li>Data de nascimento: {{ aluno.nascimento }}</li>
                            {% if aluno.turma %}
                                <li>Turma: {{ aluno.turma }}</li>
                            {% endif %}
                                <li>Atestado de aptidão física: <a href="{{ aluno.atestado }}" target="_blank" rel="noopener noreferrer">{{ aluno.atestado }}</a></li>
                            {% if aluno.validado_por and aluno.validado_em %}
                                <li>Atestado validado por: {{ aluno.validado_por }}</li>
                            {% endif %}
                            {% if aluno.validado_em %}
                                <li>Atestado validado em: {{ aluno.validado_em }}</li>
                            {% endif %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Não há alunos cadastrados.</p>
        {% endif %}
    {% else %}
            <p>Não foi possível carregar os alunos.</p>
    {% endif %}


    <h2>Professores</h1>
    {% if professores %}
        {% if professores|length > 0 %}
            <ul id="lista-professores">
                {% for professor in professores %}
                    <li id="{{ professor.cpf }}">{{ professor.nome }} - {{ professor.email }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Não há professores cadastrados.</p>
        {% endif %}
    {% else %}
            <p>Não foi possível carregar os professores.</p>
    {% endif %}


    <h2>Administradores</h2>
    {% if admins %}
        {% if admins|length > 0 %}
            <ul id="lista-admins">
                {% for admin in admins %}
                    <li id="{{ admin.cpf }}">{{ admin.nome }} - {{ admin.email }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Não há administradores cadastrados.</p>
        {% endif %}
    {% else %}
            <p>Não foi possível carregar os administradores.</p>
    {% endif %}

    
    <h2>Turmas</h2>
    {% if turmas %}
        {% if turmas|length > 0 %}
            <table class="lista-turmas" style="border: 1px solid black;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Modalidade</th>
                        <th>Professor</th>
                        <th>Horário</th>
                        <th>Semestre</th>
                        <th>Vagas</th>
                        <th>Aberta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for turma in turmas %}
                        <tr 
                            id="{{ turma.id }}" 
                            class= "{% if turma.is_open %}open{% else %}closed{% endif %}"
                        >
                            <td>{{ turma.id }}</td>
                            <td>{{ turma.modalidade }}</td>
                            <td>{{ turma.professor }}</td>
                            <td>{{ turma.horario }}</td>
                            <td>{{ turma.semestre }}</td>
                            <td>{{ turma.vagas }}</td>
                            {% if turma.is_open %}
                                <td>Sim</td>
                            {% else %}
                                <td>Não</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Não há turmas cadastradas.</p>
        {% endif %}
    {% else %}
            <p>Não foi possível carregar as turmas.</p>
    {% endif %}

    <h2>Cadastrar administrador</h2>
    <form method="post">
        {% csrf_token %}
        {{ formulario.cpf.label }}
        {{ formulario.cpf }}
        {{ formulario.cpf.errors }}
        <button type="submit">Enviar</button>
    </form>

    <script>
        document.getElementById('cpf-input').addEventListener('input', formataCPF);

        const listaAlunos = document.getElementById('lista-alunos');
        const listaProfessores = document.getElementById('lista-professores');
        const listaAdmins = document.getElementById('lista-admins');
        const url = "{% url 'adm_inicial' %}";

        function formataCPF(event) {
            let input = event.target;
            let value = input.value.replace(/\D/g, ''); // Remove caracteres não numéricos

            if (value.length > 3) {
                value = value.slice(0, 3) + '.' + value.slice(3);
            }

            if (value.length > 7) {
                value = value.slice(0, 7) + '.' + value.slice(7);
            }

            if (value.length > 11) {
                value = value.slice(0, 11) + '-' + value.slice(11);
            }

            input.value = value;
        }
        
        function aceitarAtestado(aluno_cpf) {
            const csrftoken = getCookie('csrftoken');
            
            fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({ aluno_cpf })
            })
            .catch(error => {
                console.error('Erro:', error);
            })
            .finally(() => {
                location.reload();
            });
        }

        function carregarUsuarios() {
            fetch(url, {
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                },
            })
            .then(() => {
                location.reload();
            })            
            .catch(error => {
                console.error('Erro:', error);
            });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Verifique se o cookie começa com o nome desejado
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</body>
</html>
