<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário | Cadastre-se</title>
</head>
<body>
    <h2>Cadastre-se no sistema</h2>
    <form id="formulario-usuario" method="post" action="{% url 'cadastro_user' %}">
        {% csrf_token %}
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" placeholder="Ex: 123.456.789-01" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="nascimento">Data de Nascimento:</label>
        <input type="date" id="nascimento" name="nascimento" required>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>

        <button onclick="cadastrarUsuario()">Cadastrar Usuário</button>
    </form>

    <script>
            function cadastrarUsuario() {
            console.log('Cadastrando usuário...');

            const formulario = document.getElementById('formulario-usuario');
            const csrftoken = getCookie('csrftoken');
            const url = "http://127.0.0.1:8000/cadastro/";

            const dadosUsuario = {
                nome: formulario.querySelector('#nome').value,
                cpf: formulario.querySelector('#cpf').value.replace(/\D/g, ''),
                email: formulario.querySelector('#email').value,
                nascimento: formulario.querySelector('#nascimento').value,
                senha: formulario.querySelector('#senha').value,
            };

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(dadosUsuario)
            })
            .then(resp => {
                if (resp.ok) {
                    return resp.json();
                } else {
                    throw new Error('Erro ao cadastrar usuário.');
                }
            })
            .then(data => {
                console.log('Resposta:', data);
                alert('Cadastro realizado com sucesso!');
            })
            .catch(error => {
                console.error('Erro:', error.message);
            });
        }
    </script>

</body>
</html>
