<h2>Cadastrar Aluno</h2>
<form id="formulario-aluno" method="post">
    {% csrf_token %}
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>
    
    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="Ex: 123.456.789-01" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="nascimento">Data de Nascimento:</label>
    <input type="date" id="nascimento" name="nascimento" required>

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" required>

    <button type="button" onclick="cadastrarAluno()">Cadastrar Aluno</button>
</form>

<script>
    function cadastrarAluno() {
        const formulario = document.getElementById('formulario-aluno');
        const csrftoken = getCookie('csrftoken');
        const url = '/caminho/para/endpoint/cadastro/aluno/';  // Substitua pelo URL correto

        const dadosAluno = {
            nome: formulario.querySelector('#nome').value,
            cpf: formulario.querySelector('#cpf').value.replace(/\D/g, ''), // Remover não numéricos do CPF
            email: formulario.querySelector('#email').value,
            nascimento: formulario.querySelector('#nascimento').value,
            senha: formulario.querySelector('#senha').value,
        };

        fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        },
        body: JSON.stringify(dadosAluno)
    })
    .then(resp => resp.json())
    .then(data => {
        console.info(data);
        // Lógica para tratamento da resposta após o cadastro
        alert('Cadastro realizado! Aguarde a aprovação do administrador.');
    })
    .catch(error => {
        console.error('Erro:', error);
    });
}

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
